main {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

main > div {
    border-radius: 10px;
    padding: 15px 20px;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px 5px #0006;
}

.settings {
    width: 70%;
}

.stadistics {
    width: 30%;
}