main {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

main > div {
    border-radius: 10px;
    padding: 15px 20px;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px 5px #0006;
}

.basic_info {
    width: 20%;
}

.settings {
    width: 80%;
}

.question label, .question input {
    display: block;
}

.question input {
    height: 42px;
    width: 100%;
    font-size: 18px;
    padding: 15px 10px 5px;
    border: none;
    border-bottom: 1px solid #30323d;
    transition: all .3s ease;
}

.question input:focus {
    outline: none;
    background-color: #eee;
    border-bottom: 2px solid #30323d;
}

form button {
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
    margin-bottom: 0;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px 0 #0006;
    background: linear-gradient(to top, #4e855e, #63a375);
    color: #fff;
}

form button:hover {
    cursor: pointer;
}

@media (max-width: 1400px) {
    .basic_info {
        width: 30%;
    }

    .settings {
        width: 70%;
    }
}

@media (max-width: 1000px) {
    main {
        flex-direction: column;
    }

    .basic_info, .settings {
        width: 100%;
    }
}