* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header, footer {
    width: 100%;
    background-color: #30323d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;
}

/* HEADER */

header {
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px 2px #0006;
}

header img {
    height: 100%;
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.nav_options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_options a {
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: transparent;
    transition: all 0.3s ease-in;
    text-align: center;
    min-width: min-content;
    min-height: min-content;
    
}

.nav_options a:hover {
    background-color: #424554;
}

#btn_menu {
    display: none;
    color: #fff;
    background: none;
    border: none;
}

/* BODY */

body {
    background-color: #ddd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    margin: auto;
    min-height: 70vh;
    width: 90vw;
    margin-top: 14vh;
    margin-bottom: 6vh;
    border-radius: 10px;
    padding: 15px 20px;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px 5px #0006;
}

main h1 {
    border-bottom: 1px solid #30323d;
    padding-left: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

/* FOOTER */

footer {
    min-height: 10vh;
}

footer a {
    color: #fff;
    font-weight: bold;
}

/* RESPONSIVE */

@media (max-width: 800px) {
    main {
        min-height: 74vh;
        margin-top: 12vh;
        margin-bottom: 4vh;
    }
    .nav_options {
        background-color: #30323d;
        position: absolute;
        display: block;
        top: 10vh;
        left: 0;
        width: 100vw;
        padding: 0 20px;
        padding-bottom: 5px;
        border-top: 1px solid #30323d;
    }

    .nav_options a {
        border: none;
        border-radius: 0;
        display: block;
        padding: 20px 0;
        border-top: 1px solid #fff;
    }

    #btn_menu  {
        display: block;
    }
    
    .hide_btn {
        display: none;
    }
    
    .hide_menu {
        display: none;
    }
}

@media (max-width: 500px) {
    header h2 {
        display: none;
    }
}