.ticket_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 47vh;
    gap: 20px;
}

.ticket_controls {
    padding: 5px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.ticket_controls button {
    display: flex;
    width: 130px;
    height: 50px;
    background-color: #30323d;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 5px 1px #0005;
    transition: all 0.3s ease-in;
}

.ticket_controls button span {
    text-align: right;
}

.ticket_controls button:hover {
    cursor: pointer;
    background-color: #424554;
}

.ticket_controls form {
    display: flex;
    gap: 10px;
}

.ticket_controls form select {
    width: 130px;
    border-radius: 10px;
    font-size: 16px;
    padding: 0 12px;
    border: 1px solid #30323d;
}

.ticket_modal {
    margin: auto;
    width: 80vw;
    height: 85vh;
    padding: 10px 10px 20px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #0006;
}

.ticket_modal .modal_sup {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #30323d;
    align-items: center;
}

.ticket_modal .modal_sup button {
    background: none;
    border: none;
    color: #30323d;
}

.ticket_modal .modal_sup button:hover {
    cursor: pointer;
}

.ticket_modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.modal_question {
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    font-size: 20px;
    letter-spacing: 1px;
}

.modal_question input {
    height: 42px;
    font-size: 18px;
    padding: 15px 10px 5px;
    border: none;
    border-bottom: 1px solid #30323d;
    transition: all .3s ease;
}

.modal_question input:focus {
    outline: none;
    background-color: #eee;
    border-bottom: 2px solid #30323d;
}

.modal_question textarea {
    box-sizing: border-box;
    resize: none;
    height: 140px;
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid #30323d;
    border-radius: 10px;
    background-color: #eee;
    transition: all .3s ease;
}

.modal_question textarea:focus {
    outline: 1px solid #30323d;
}

.modal_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 80px;
}

.modal_question select {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding-left: 15px;
}

.ticket_modal form button {
    font-size: 18px;
    font-weight: bold;
    margin: 20px auto;
    margin-bottom: 0;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px 0 #0006;
    background: linear-gradient(to top, #4e855e, #63a375);
    color: #fff;
}

.ticket_modal form button:hover {
    cursor: pointer;
}

#title_ticket_conclution {
    font-size: 30px;
    margin: 10px;
}

#description_ticket_conclution {
    margin: 20px;
    height: 20vh;
}

.ticket_card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #0005;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ticket_card h4 {
    border-radius: 10px 10px 0 0;
    height: 20%;
    padding: 10px 20px;
    background-color: #30323d;
    color: #fff;
}

.ticket_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    padding: 10px 20px;
}

.ticket_info_top {
    height: 90%;
}

.ticket_info_bottom {
    display: flex;
    justify-content: space-between;
    height: 10%;
}

.ticket_tools {
    display: flex;
    height: 10%;
    justify-content: space-between;
    background-color: #30323d;
    border-radius: 0 0 10px 10px;
    padding: 5px 10px;
}

.ticket_tools div {
    font-style: italic;
    display: flex;
    color: #fff;
    gap: 10px;
    align-items: center;
}

.ticket_tools .status_circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.ticket_tools button {
    color: #fff;
    background: none;
    border: none;
}

.ticket_tools button:hover {
    cursor: pointer;
}

.concluted .ticket_info_top {
    height: 40%;
}

.ticket_conclution {
    padding: 10px 15px;
    border: 1px solid #30323d;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    .ticket_container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .ticket_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .ticket_info {
        height: 65%;
    }

    .ticket_tools {
        height: 15%;
        font-size: 26px;
        padding-top: 10px;
    }

    .ticket_tools .status_circle {
        width: 15px;
        height: 15px;
    }

    .ticket_tools button svg {
        height: 36px;
        width: 36px;
    }
    .ticket_container {
        grid-template-columns: 1fr;
    }
    .ticket_controls button {
        width: 50px;
    }

    .ticket_controls button span {
        display: none;
    }
}

@media (max-width: 500px) {
    .ticket_container {
        grid-auto-rows: 60vh;
    }

    .ticket_card h4 {
        font-size: 20px;
    }

    .ticket_controls form {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 1fr;
    }

    .ticket_controls form select {
        width: 100%;
    }

    .ticket_controls form button {
        grid-row: 1 / -1;
        grid-column: 2;
    }

    #btn_create_ticket {
        position: fixed;
        bottom: 3vw;
        right: 3vw;
        z-index: 1100;
        width: 60px;
        height: 60px;
    }

    .modal_details {
        display: block;
    }
    
    .modal_details select {
        height: 5vh;
    }
}
