{% extends 'base.html' %}

{% block content %}
<h1>Admin panel</h1>

<form action="{{ url_for('auth.register_user') }}" method="POST">
    <h2>New user</h2>
    <label for="username">username</label>
    <input type="text" name="username" id="username" required>
    <label for="email">email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="role">Role</label>
    <select name="role" id="role" required>
        <option value="" selected hidden>Select</option>
        {% for role in roles.values() %}
        {% if roles[role.name].hierarchy > roles[session['role']].hierarchy %}
        <option value="{{ role.name }}">{{ role }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <button>
        Register
    </button>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
        <span>
            {{ message }}
        </span>
            {% endfor %}
        {% endif %}
    {% endwith %}
</form>

<div class="user_container">
{% for user in users %}
<div class="user_card">
    <h3>{{ user.username }}#{{ user.id }}</h3>
    <h4>{{ user.email }}</h4>
    <h5>{{ user.role.replace('_', ' ').capitalize() }}</h5>
    <h5>{{ user.status.replace('_', ' ').capitalize() }}</h5>
    {% if roles[session['role']].hierarchy < roles[user.role].hierarchy %}
    <form action="{{ url_for('admin.edit_user') }}" method="POST">
        <input type="hidden" name="id" value="{{ user.id }}">
        <label for="username">Username</label>
        <input type="text" name="username" id="edited_username" value="{{ user.username }}" required>
        <label for="email">email</label>
        <input type="email" name="email" id="edited_email" value="{{ user.email }}" required>
        
        <select name="role" id="edited_role" required>
            {% for role in roles.values() %}
            {% if roles[role.name].hierarchy > roles[session['role']].hierarchy %}
                {% if role.name == user.role %}
                <option value="{{ role.name }}" selected>{{ role }}</option>
                {% else %}
                <option value="{{ role.name }}">{{ role }}</option>
                {% endif %}
            {% endif %}
            {% endfor %}
        </select>
        
        <button>
            Edit user
        </button>
    </form>
    <form action="{{ url_for('admin.change_status') }}" method="POST">
        <label for="status">Change status</label>
        <input type="hidden" name="id" value="{{ user.id }}">
        <select name="status" id="edited_status" required>
            {% for status in status_levels.values() %}
                {% if status.name == user.status %}
                <option value="{{ status.name }}" selected>{{ status }}</option>
                {% else %}
                <option value="{{ status.name }}">{{ status }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <button>
            Update status
        </button>
    </form>
    <form action="{{ url_for('admin.reset_password') }}" method="POST">
        <label for="new_password">New password</label>
        <input type="hidden" name="id" value="{{ user.id }}">
        <input type="password" name="password" id="new_password" required>
        <button>
            Reset password
        </button>
    </form>
    {% endif %}
</div>
{% endfor %}
</div>

{% endblock %}