{% extends 'base.html' %}

{% block content %}
<h1>Admin panel</h1>

<form action="{{ url_for('auth.register_user') }}" method="POST">
    <h2>New user</h2>
    <label for="username">username</label>
    <input type="text" name="username" id="username" required>
    <label for="email">email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="role">Role</label>
    <select name="role" id="role" required>
        <option value="" selected hidden>Select</option>
        {% for role in roles.keys() %}
        {% if roles[role] < roles[session['role']] %}
        <option value="{{ role }}">{{ role.capitalize().replace('_', ' ') }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <button>
        Register
    </button>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
        <span>
            {{ message }}
        </span>
            {% endfor %}
        {% endif %}
    {% endwith %}
</form>

<div class="user_container">
{% for user in users %}
<div class="user_card">
    <h3>{{ user.username }}</h3>
    <h4>{{ user.email }}</h4>
    <h5>{{ user.role.replace('_', ' ').capitalize() }}</h5>
</div>
{% endfor %}
</div>

{% endblock %}