{% extends 'base.html' %}

{% block content %}

<div class="basic_info">
<h2>{{ user.username }}</h2>
<h4>Role</h3>
<p>{{ user.role.capitalize().replace('_', ' ') }}</p>
<h3>Change username</h3>
    <form action="{{ url_for('profile.change_username') }}" method="POST">
        <div class="question">
            <label for="new_username">New username</label>
            <input type="text" name="new_username" value="{{ user.username }}" required>
        </div>
        <button>
            Change username
        </button>
    </form>
</div>

<div class="settings">
    <h1>Profile settings</h1>

    <h3>Change email</h3>
    <form action="{{ url_for('profile.change_email') }}" method="POST">
        <div class="question">
            <label for="new_email">New email</label>
            <input type="email" name="new_email" value="{{ user.email }}" required>
        </div>
        <button>
            Change email
        </button>
    </form>

    <h3>Change password</h3>
    <form action="{{ url_for('profile.change_password') }}" method="POST">
        <div class="question">
            <label for="actual_password">Actual password</label>
            <input type="password" name="actual_password" placeholder="*******" required> 
        </div>
        <div class="question">
            <label for="new_password">New password</label>
            <input type="password" name="new_password" placeholder="*******" required>
        </div>
        <button>
            Change password
        </button>
    </form>
</div>

{% endblock %}